#root > div > footer > footer {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 25px;
	color: black;
}

#root > div > footer > footer > img {
	position: fixed;
	bottom: -170px;
	right: -170px;
	font-size: 20px;
}
